---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body{% if page.body_class %} class="{{ page.body_class }}{% endif %}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JD79G5"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main class="wrapper">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>

    {% include scripts.html %}
  </body>
</html><!-- by nandomoreira.me -->
