.center-image {
  display: block;
  margin: 0 auto;
}

.post-item p {
  font-size: 1.25rem;
}

.back-to-blog {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.back-to-blog:hover {
  cursor: pointer;
  text-decoration: underline;
}
