.center-image {
  display: block;
  margin: 0 auto;
}

.post-item p {
  font-size: 1.25rem;
}


// 404 page css
.four-oh-four-error {
  font-size: 4em;
  text-align: center;
  margin-top: 1em;
  text-transform: uppercase;
}

.four-oh-four-text {
  padding: 1em;
  font-size: 2em !important;
  text-align: center !important;
}

.back-to-blog {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}

.back-to-blog:hover {
  cursor: pointer;
  text-decoration: underline;
}
